/*Div IFrame*/
#div-iframe{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;	
    border: 2px solid #007bff;
}

/*IFrame*/
#div-iframe .iframe-collapse {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 2px solid #007bff;
}

#component-collapse{
	margin-top: 5px;
	margin-bottom: 15px;
}

#component-collapse button{
	margin-top: 15px;
	border-radius: 0;
	outline-style: none;
	border: 0;
}

#component-collapse button:visited,#component-collapse button:active, #component-collapse button:focus{
	box-shadow: none;
}

#component-collapse .card{
	border-radius: 0;
	border: 2px solid #007bff;
	transition: all 0.01;
}
